rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function adminPath() {
      return /databases/$(database)/documents/admins/$(request.auth.uid)
    }

    function isAdmin() {
      return exists(adminPath());
    }

    match /serials/{serial} {
      allow read;
      allow write: if isAdmin();
    }

    match /{path=**}/schedules/{schedule} {
      allow read;
      allow write: if isAdmin();
    }

    match /{path=**}/tickets/{ticket} {
      allow read;
      allow write: if isAdmin();
    }

    match /calendars/{calendar} {
      allow read;
    }

    match /topics/{topic} {
      allow read;
    }

    match /twitterCollections/{twitterCollection} {
      allow read;
    }

     // match /sources/{source}/posts/{post} {
    //   allow read: if isAdmin();
    //   allow update: if isAdmin();
    // }
  }
}