$mdc-theme-background: hsl(48, 100, 96);
$mdc-theme-primary: hsl(211, 41, 57);
$mdc-theme-on-primary: $mdc-theme-background;
// $mdc-theme-secondary: hsl(42, 97, 50);
$mdc-theme-secondary: hsl(35, 20, 55);
$mdc-theme-on-secondary: $mdc-theme-background;

$black: rgba(black, 0.87);
$mdc-theme-on-surface: $black;
$mdc-chip-ink-color-default: $black;

// 87,54,38
$mdc-theme-text-colors: (
  dark: (
    primary: rgba(black, 0.87),
    secondary: rgba(black, 0.45),
    hint: rgba(black, 0.3),
    disabled: rgba(black, 0.3),
    icon: rgba(black, 0.3),
  ),
  light: (
    primary: white,
    secondary: rgba(white, 0.87),
    hint: rgba(white, 0.5),
    disabled: rgba(white, 0.5),
    icon: rgba(white, 0.5),
  ),
);

// $mdc-ripple-dark-ink-opacities: (
//     hover: 0.02,
//     focus: 0.045,
//     press: 0.045,
//     selected: 0.035,
//     activated: 0.045,
// );

$mdc-typography-font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'BIZ UDPゴシック', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

@import '~material-components-web/material-components-web';
@import '~@rmwc/circular-progress/circular-progress';
@import '~@rmwc/avatar/avatar';
@import '~@rmwc/data-table/data-table';

.mdc-dialog-scroll-lock {
  overflow: unset;
}

// .mdc-dialog__content {
//     line-height: 1.3;
// }

.mdc-button__label {
  text-transform: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mdc-top-app-bar__title {
  font-family: unset;
}

.mdc-fab__icon {
  color: $mdc-theme-on-secondary;
}

// .material-icons {
//     display: block;

.mdi {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    display: flex;
    line-height: 1;
  }
}
// }
// .material-icons {
//     font-family: 'Material Icons Outlined';
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     line-height: 1;
//     letter-spacing: normal;
//     text-transform: none;
//     display: inline-block;
//     white-space: nowrap;
//     word-wrap: normal;
//     direction: ltr;
//     -webkit-font-feature-settings: 'liga';
//     -webkit-font-smoothing: antialiased;
// }

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mdc-text-field__input {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
