{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "useBuiltIns": "usage",
                    "corejs": 2
                }
            }
        ],
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": [
        "emotion",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}
